html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.words td{
    border:1px solid #cecece;
}

    .words td:nth-child(1){
        width:50px;
    }

.words td:nth-child(2) {
    width: 200px;
}

.words td:nth-child(3) {
    width: 160px;
}

.words td:nth-child(4) {
    width: 220px;
}

.words caption{
    caption-side:top;
}

.word-edit{
    font-weight:600;
    color:darkblue;
}

.table-word td,th{
    border: 1px solid #808080;
    padding:4px;
}

.link-count{
    text-align:center;
}

.remove-link{
    color:red;
}

.sure-remove-link{
    font-size:14px;
}

.page {
    margin: 5px 10px 5px 10px;
    border: 1px solid #5cada2;
    padding: 5px;
    cursor:pointer;
}

.page:hover{
    background-color:cornsilk;
    font-weight:bold;
}

.selected-page {
    background-color: #e3e57a;
}