html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.words td{
    border:1px solid #cecece;
}

    .words td:nth-child(1){
        width:50px;
    }

.words td:nth-child(2) {
    width: 200px;
}

.words td:nth-child(3) {
    width: 160px;
}

.words td:nth-child(4) {
    width: 220px;
}

.words caption{
    caption-side:top;
}